.inner-benner-sec {
  background: #ffffff !important;
  padding: 70px 0px 70px 0px !important;
}
.defualt-content-info h1, .defualt-content-info h2, .defualt-content-info h3, .defualt-content-info h4, .defualt-content-info h5, .defualt-content-info h6 {
  color: #16213e;
}
.header-info {
  position: relative !important;
  background: #070c1a !important;
}
.inner-benner-sec h1 {
  font-size: 48px;
  color: #16213e;
  font-weight: normal;
  text-transform: none;
  font-family: 'Frank Ruhl Libre', serif;
  /*color: #f5a200;
  margin-bottom: 5px;*/
}
.inner-benner-sec h1 {
  font-size: 48px;
  color: #16213e;
  font-weight: normal;
}
.inner-benner-sec h5 {
  color: #f5a200;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.inner-benner-sec p {}
.inner-benner-sec p {
  color: #999999;
  font-size: 17px;
  margin-bottom: 15px;
  margin-bottom: 0px;
}
.inner-benner-sec p a {
  color: #f5a200;
  font-weight: bold;
}
.inner-benner-sec p a:hover, .inner-benner-sec p a:focus {
  color: #222;
}
.blog-sec {
  background: #fafafa;
}
.blog-sec .defualt-content-info h2 {
  margin-bottom: 30px;
}
.practice-areas-sec {
  background: #fafafa;
}
.practice-areas-sec .row {
  margin: 0px -15px;
}
.practice-areas-sec [class*="col-"] {
  padding: 0px 15px;
  margin-bottom: 30px;
}
.practice-areas-block {
  background: #16213e;
  text-align: left;
  height: 100%;
}
.practice-areas-sec .practice-areas-block h4 {
  color: #ffffff;
  position: relative;
  margin-bottom: 17px;
  padding-bottom: 17px;
}
.practice-areas-sec .practice-areas-block h4::before {
  background: #f5a200;
  bottom: 0px;
  left: 0px;
  width: 60px;
  height: 3px;
  content: "";
  position: absolute;
}
.practice-areas-sec .practice-areas-block h4::after {
  background: rgba(255, 255, 255, 0.1);
  bottom: 1px;
  left: 0px;
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
}
.practice-areas-sec .practice-areas-block h4 a {
  color: #fff;
  font-weight: normal;
}
.practice-areas-sec .practice-areas-block h4 a:hover, .practice-areas-sec .practice-areas-block h4 a:focus {
  color: #f5a200;
}
.practice-areas-sec .practice-areas-block p {
  color: #fff;
  margin-bottom: 0px !important;
  font-size: 15px;
}
.practice-areas-sec .practice-areas-block p a {
  font-weight: bold;
  color: #f5a200;
}
.practice-areas-sec .practice-areas-block p a:hover, .practice-areas-sec .practice-areas-block p a:focus {
  color: #fff;
}
.practice-areas-sec .practice-areas-block .practice-areas-block-det {
  padding: 35px;
  padding-top: 10px !important;
}
.practice-areas-sec .practice-areas-block figure, .practice-areas-sec .practice-areas-block figure img {
  margin-bottom: 0px;
  width: 100%;
  position: relative;
}
.practice-areas-sec .practice-areas-block figure::before {
  content: "";
  background: rgb(22, 33, 62);
  background: -moz-linear-gradient(0deg, rgba(22, 33, 62, 1) 0%, rgba(22, 33, 62, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(22, 33, 62, 1) 0%, rgba(22, 33, 62, 0) 100%);
  background: linear-gradient(0deg, rgba(22, 33, 62, 1) 0%, rgba(22, 33, 62, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16213e", endColorstr="#16213e", GradientType=1);
  width: 100%;
  height: 100%;
  position: absolute;
}
.practice-areas-sec.no-padding {
  padding-top: 0px !important;
  position: relative;
}
.practice-areas-sec.no-padding .container{
	position: relative;
}
.practice-areas-sec.no-padding:before{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30%;
	background: #fff;
	width: 100%;
	content: "";
}
@media (max-width: 2000px) {}
@media (max-width: 1900px) {}
@media (max-width: 1800px) {}
@media (max-width: 1700px) {}
@media (max-width: 1600px) {
  .inner-benner-sec h1 {
    font-size: 45px;
  }
}
@media (max-width: 1500px) {
  .inner-benner-sec h1 {
    font-size: 42px;
  }
	  .practice-areas-sec .practice-areas-block .practice-areas-block-det {
    padding: 30px;
  }
  .practice-areas-sec .practice-areas-block h4 {
    font-size: 22px;
  }
  .practice-areas-sec .practice-areas-block p {
    font-size: 14px;
  }
}
@media (max-width: 1399.98px) {
  .inner-benner-sec h1 {
    font-size: 40px;
  }
  .inner-benner-sec p {
    font-size: 16px;
  }
  .inner-benner-sec {
    padding: 65px 0px 65px 0px !important;
  }
	 .practice-areas-sec .practice-areas-block .practice-areas-block-det {
    padding: 25px;
  }
  .practice-areas-sec .practice-areas-block h4 {
    font-size: 21px;
  }
  .practice-areas-sec .practice-areas-block p {
    font-size: 14px;
  }
  .practice-areas-sec .row {
    margin: 0px -10px;
  }
  .practice-areas-sec [class*="col-"] {
    padding: 0px 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1300px) {
  .inner-benner-sec h1 {
    font-size: 38px;
  }
  .inner-benner-sec p {
    font-size: 15px;
  }
  .inner-benner-sec {
    padding: 65px 0px 65px 0px !important;
  }
	  .practice-areas-sec .practice-areas-block .practice-areas-block-det {
    padding: 20px;
  }
  .practice-areas-sec .practice-areas-block h4 {
    font-size: 20px;
  }
  .practice-areas-sec .practice-areas-block p {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .inner-benner-sec h1 {
    font-size: 35px;
  }
  .inner-benner-sec p {
    font-size: 14px;
  }
  .inner-benner-sec {
    padding: 60px 0px 60px 0px !important;
  }
	  .practice-areas-sec .practice-areas-block .practice-areas-block-det {
    padding: 17px;
  }
  .practice-areas-sec .practice-areas-block h4 {
    font-size: 18px;
  }
  .practice-areas-sec .practice-areas-block p {
    font-size: 13px;
  }
  .practice-areas-sec .row {
    margin: 0px -10px;
  }
  .practice-areas-sec [class*="col-"] {
    padding: 0px 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1100px) {
  .inner-benner-sec h1 {
    font-size: 32px;
  }
  .inner-benner-sec p {
    font-size: 13px;
  }
  .inner-benner-sec {
    padding: 55px 0px 55px 0px !important;
  }
	  .practice-areas-sec .practice-areas-block .practice-areas-block-det {
    padding: 15px;
  }
  .practice-areas-sec .practice-areas-block h4 {
    font-size: 18px;
  }
  .practice-areas-sec .practice-areas-block p {
    font-size: 13px;
  }
  .practice-areas-sec .row {
    margin: 0px -10px;
  }
  .practice-areas-sec [class*="col-"] {
    padding: 0px 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .inner-benner-sec h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .inner-benner-sec p {
    font-size: 12px;
  }
  .inner-benner-sec {
    padding: 50px 0px 50px 0px !important;
  }
	  .practice-areas-sec .practice-areas-block .practice-areas-block-det {
    padding: 30px 15px;
  }
  .practice-areas-sec .practice-areas-block h4 {
    font-size: 22px;
  }
  .practice-areas-sec .practice-areas-block p {
    font-size: 14px;
  }
  .practice-areas-sec .row {
    margin: 0px -10px;
  }
  .practice-areas-sec [class*="col-"] {
    padding: 0px 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .inner-benner-sec h1 {
    font-size: 28px;
  }
  .inner-benner-sec p {
    font-size: 12px;
  }
  .inner-benner-sec {
    padding: 50px 0px 50px 0px !important;
  }
	 .practice-areas-sec .practice-areas-block .practice-areas-block-det {
    padding: 30px 15px;
  }
  .practice-areas-sec .practice-areas-block h4 {
    font-size: 22px;
  }
  .practice-areas-sec .practice-areas-block p {
    font-size: 15px;
  }
  .practice-areas-sec .row {
    margin: 0px -10px;
  }
  .practice-areas-sec [class*="col-"] {
    padding: 0px 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .inner-benner-sec h1 {
    font-size: 25px;
  }
  .inner-benner-sec p {
    font-size: 12px;
  }
  .inner-benner-sec {
    padding: 50px 0px 50px 0px !important;
  }
	  .practice-areas-sec .practice-areas-block .practice-areas-block-det {
    padding: 30px 15px;
  }
  .practice-areas-sec .practice-areas-block h4 {
    font-size: 22px;
  }
	
}